/* General */
/* Establece márgenes y relleno a cero y utiliza "border-box" para calcular el tamaño incluyendo bordes y relleno. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global para el cuerpo del documento */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* Define la fuente principal del sitio. */
    color: white;
    /* Establece el color del texto en blanco. */
    line-height: 1.6;
    /* Mejora la legibilidad al establecer la altura de línea. */
    background-color: black;
}

/* Estilo del encabezado */
header {
    position: fixed;
    /* Hace que el encabezado permanezca visible al hacer scroll. */
    top: 0;
    /* Lo posiciona en la parte superior de la página. */
    width: 100%;
    /* Abarca todo el ancho de la ventana. */
    background-color: #000000;
    /* Fondo semitransparente para contraste. */
    padding: 10px 20px;
    /* Espaciado interno para los elementos del encabezado. */
    display: flex;
    /* Utiliza diseño flexible para organizar los elementos horizontalmente. */
    justify-content: space-between;
    /* Distribuye los elementos en extremos opuestos. */
    align-items: center;
    /* Alinea verticalmente los elementos del encabezado. */
    z-index: 1000;
    /* Asegura que el encabezado esté siempre encima de otros elementos. */
    border-bottom: 1px solid #c1c1c1;

    transition: border-bottom 0.6s ease-in-out, box-shadow 0.6s ease-in-out;

}

nav {
    display: flex;
    margin-top: 8px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#TituloLogo h1 {
    font-family: 'VT323', monospace;
    color: #43cd76;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#TituloLogo:hover h1 {
    text-shadow: 0 0 10px #43cd76, 0 0 20px #43cd76;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Navegación dentro del encabezado */
header nav ul {
    list-style: none;
    /* Elimina los puntos de lista predeterminados. */
    display: flex;
    /* Muestra los elementos de la lista en una fila. */
    gap: 2em;
    /* Espaciado entre los elementos de la lista. */
    margin-top: 0.4rem;
    margin-right: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo de los enlaces de la barra de navegación */
.navSections {
    text-decoration: none;
    /* Elimina el subrayado predeterminado de los enlaces. */
    color: white;
    /* Color de texto blanco. */
    font-weight: bold;
    /* Resalta los enlaces con texto en negrita. */
    padding: 5px 10px;
    /* Espaciado interno en los enlaces. */
    border-radius: 4px;
    /* Bordes redondeados para los enlaces. */
    transition: background-color 0.7s;
    /* Suaviza el cambio de color de fondo (opcional). */
    position: relative;
    /* Necesario para que el ::after se posicione correctamente */
}

.navSections:hover {
    color: #43cd76;
}

.navSections::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #43cd76;
    transition: width 0.7s ease;
}

.navSections:hover::after {
    width: 100%;
}

/* header:has(nav ul li a:hover) {
    border-bottom: solid 2px #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
} */

header:hover {
    border-bottom: solid 2px #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
}

/* AQUI */

/* Espaciado superior para evitar solapamiento con el encabezado fijo */
main {
    padding-top: 80px;
    /* Ajusta el contenido para que no quede cubierto. */
}

/* Sección de contenido */
section {
    min-height: 100vh;
    /* Cada sección ocupa al menos el 100% de la altura de la ventana. */
    min-width: 100%;
    padding: 60px 60px;
    /* Espaciado interno para el contenido. */
    text-align: center;
    /* Centra el texto. */
    background-color: rgb(35, 35, 35);
    /* Fondo semitransparente para legibilidad. */
    margin-bottom: 20px;
    /* Espaciado entre secciones. */
    justify-content: center;
}

/* Títulos dentro de las secciones */
section h2 {
    font-size: 2.5em;
    /* Tamaño grande para destacar títulos. */
    margin-bottom: 20px;
    /* Espaciado inferior para separación del texto. */
}

#inicio {
    display: flex;
    overflow: auto;
    justify-content: space-evenly;
    gap: 20px;
}

#inicio h2 {
    font-size: 4em;
    margin-top: 20px;
    color: white;

}

#inicio h3 {
    color: #43cd76;
    font-size: 2em;
    padding-bottom: 20px;
}

.inicio h3 {
    background: linear-gradient(90deg, #ffffff, #43cd76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.inicio {
    padding: 50px;
}


p {
    text-align: justify;
}

.contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45%;
    transition: all 0.4s ease-in-out;
}

.contenedorImagen:hover {
    cursor: pointer;
    transform: translateY(-10px);
    /* Efecto de flotación */
}

.ImagenInicio {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    min-width: 50%;
    transition: all 0.4s ease-in-out;
    /* duración y tipo de transición */
    border: solid 5px #000000;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
}


#inicio:hover .contenedorImagen .ImagenInicio {
    border: solid 5px #43cd76;
    box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
}

/* AQUI */

#sobre-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    gap: 60px;
}

/* Div Nosotros (Parro e imagen) */
.nosotros {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    min-height: 100%;
    padding: 30px;
    padding-bottom: 55px;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    align-items: center;

}

#contenedorImagenAvance {
    display: flex;
    margin-top: 30px;
    border: solid 5px #000000;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    max-width: 90%;
    overflow: hidden;
    /* evita que algo se salga */
    transition: all 0.4s ease-in-out;
}

#contenedorImagenAvance:hover {
    cursor: pointer;
    transform: translateY(-10px);
    /* Efecto de flotación */
}

#imagenAvance {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

}


#sobre-nosotros:hover #contenedorImagenAvance {
    border: solid 5px #43cd76;
    box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
}

/* Div Imagen de sobre nosotros */
#contenedorImagenNosotros {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    transition: all 0.4s ease-in-out;
}

#contenedorImagenNosotros:hover {
    cursor: pointer;
    transform: translateY(-10px);
    /* Efecto de flotación */
}

#imagenNosotros {
    width: 100%;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    /* duración y tipo de transición */
    border: solid 5px #000000;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
}


#sobre-nosotros:hover #imagenNosotros {
    border: solid 5px #43cd76;
    box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
}

/* AQUI */


#servicios {
    overflow: auto;
}

#servicios div {
    border-radius: 10px;

}


#servicios div img {
    max-width: 100%;
    object-fit: contain;


}


.servicios2 {
    display: flex;
}

.tarjetas div {
    max-width: 50%;

}

.tarjetas div h3 {
    margin-bottom: 15px;
    color: #000;
    font-size: 1.5em;
}

.tarjetas {
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    border: 1px solid #cccccc7e;
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 15px;
    align-items: center;
    margin: 15px;
    border: solid 5px #000000;
    background: #5b5b5b;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    gap: 20px;
}


/* Animaciones */
.tarjetas:hover {
    border: solid 5px #43cd76;
    box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
    background-color: #000;
    transform: translateY(-5px);
    /* Efecto de flotación */
}

.tarjetas:hover h3 {
    color: #43cd76;
}

.tarjetas div img {
    border-radius: 10px;
    border: solid 2px #000000;
    box-shadow: 0 0 12px rgba(67, 205, 118, 0.3);
}

.tarjetas:hover div img {
    border: solid 2px #43cd76;
    box-shadow: 0 0 20px rgba(67, 205, 118, 0.7);
}


/* AQUI */

#avances {
    overflow: auto;
}

#contenedorSuperiorAvances {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.contendorImagenAvances {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    min-width: 70%;
    max-width: 70%;
    min-height: 180px;
    height: 180px;
    border-radius: 10px;
    border: solid 5px #000000;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    /* 🔹 Evita que la imagen se salga del contenedor */

}

.contendorImagenAvances img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* 🔹 Llena todo el contenedor sin deformarse */
}

.avances {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    min-width: 30%;
    width: 30%;
    min-height: 600px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    border: 5px solid #000000;
    background-color: #5b5b5b;
    padding: 25px;
    transition: all 0.4s ease-in-out;

    cursor: pointer;
}

.avances:hover {
    border: solid 5px #43cd76;
    box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
    background-color: #000;
    transform: translateY(-5px);
    /* Efecto de flotación */
}

.avances h3 {
    margin-top: 50px;
}

.avances:hover h3 {
    color: #43cd76;
}

.avances:hover .contendorImagenAvances {
    border: solid 5px #43cd76;
    box-shadow: 0 0 20px rgba(67, 205, 118, 0.7);
}



/* AQUI */

#contacto {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}

.superContacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    /* background: yellow; */
}

/* Contenedor del formulario */
.form-container {
    /* margin: 180px 80px 30px; */
    width: 45%;
    /* Ocupa el 100% del ancho disponible. */
    /* max-width: 500px; */
    /* Limita el ancho máximo del formulario. */
    /* max-height: 450px; */
    background: #000000;
    /* Fondo blanco para contraste. */
    padding: 30px;
    /* Espaciado interno del formulario. */
    border-radius: 20px;
    /* Bordes redondeados para un diseño más agradable. */
    border: 2px solid #898989;
    /* Sombra para dar profundidad. */
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    height: 100%;
    transition: all 0.4s ease-in-out;
    /* duración y tipo de transición */

}

.form-container:hover {
    border: 2px solid #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
    transform: translateY(-10px);
    /* Efecto de flotación */
}




/* Título del formulario */
.form-container h2 {
    text-align: center;
    /* Centra el texto del título. */
    color: #088736;
    /* Azul oscuro para resaltar. */
    margin-bottom: 4%;
    /* Espaciado inferior para separar del formulario. */

}

.form-container:hover h2 {
    color: #43cd76;
}

/* Campos del formulario */
.form-container input,
.form-container textarea {
    width: 100%;
    /* Ocupa todo el ancho del contenedor. */
    padding: 35px;
    /* Espaciado interno para comodidad al escribir. */
    margin-bottom: 15px;
    /* Borde gris claro. */
    border-radius: 10px;
    /* Bordes redondeados. */
    font-size: 16px;
    /* Tamaño de texto estándar. */
    resize: vertical;
    /* Permite redimensionar solo verticalmente (para textarea). */
    background: #181818;
    color: white;
    border: 2px solid #5b5b5b;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
}

.form-container input:hover,
.form-container textarea:hover {
    border: 2px solid #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
}

.form-container input:focus,
.form-container textarea:focus {
    border: 2px solid #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
    outline: none;
    /* elimina el borde azul predeterminado del navegador */
}

/* Botón de envío del formulario */
.form-container button {
    width: 100%;
    /* Ocupa todo el ancho disponible. */
    height: 60px;
    padding: 10px;
    /* Espaciado interno. */
    background-color: #02733E;
    /* Fondo azul oscuro. */
    color: #000;
    /* Texto blanco. */
    font-size: 16px;
    /* Tamaño del texto del botón. */
    border: none;
    /* Sin borde adicional. */
    border-radius: 5px;
    /* Bordes redondeados. */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón. */
    transition: background-color 0.3s ease;
    /* Transición suave al cambiar el color. */
}

/* Efecto al pasar el cursor sobre el botón */
.form-container button:hover {
    background-color: #02a458;
    color: white;
    /* Azul más oscuro al pasar el cursor. */
}



.mapa {
    width: 45%;
    height: 100%;
    border: solid 5px #000000;
    box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.mapa:hover {
    animation: hoverEfecto 3s forwards;
    /* Aplica animación de 3 segundos */
}

@keyframes hoverEfecto {
    0% {
        border: solid 5px #000000;
        box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
        transform: translateY(0);
    }

    50% {
        border: solid 5px #43cd76;
        box-shadow: 0 0 25px rgba(67, 205, 118, 0.7);
        transform: translateY(-10px);
    }

    100% {
        border: solid 5px #000000;
        box-shadow: 0 0 10px rgba(67, 205, 118, 0.3);
        transform: translateY(0);
    }
}

.mapa iframe {
    border-radius: 5px;
    width: 100%;
    height: 100%;

}

/* AQUI */


/* Pie de página */
footer {
    text-align: center;
    /* Centra el texto. */
    padding: 20px;
    /* Espaciado interno. */
    background-color: #02733E;
    /* Fondo semitransparente. */
    position: relative;
    /* Permite posicionarlo según el flujo normal del documento. */
    color: #ffffff;
    /* Texto blanco. */
    font-size: 0.9em;
    /* Texto más pequeño para el pie. */
    border-top: 1px solid #c1c1c1;
    transition: all 0.6s ease-in-out;
}

footer:hover {
    background-color: #000000;
    border-top: 1px solid #43cd76;
    box-shadow: 0 0 15px rgba(67, 205, 118, 0.7);
}

footer:hover a {
    color: #43cd76;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: all 2s ease-in-out;
}

/* ========================
    Diseño responsive
   ======================== */

/* Para tablets y pantallas medianas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        /* Muestra el botón ☰ */
        margin-bottom: 10px;
        font-size: 2rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1001;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        /* ✅ Ocupa todo el ancho */
        background-color: rgba(0, 0, 0, 0.95);
        padding: 20px 0;
        text-align: center;
        gap: 1em;
        position: relative;
        /* ✅ Ya no es absolute, así no tapa el botón */
        z-index: 1000;
    }

    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #TituloLogo {
        text-align: center;
        /* ✅ Centra el título */
        margin-bottom: 10px;
    }

    .navSections {
        font-size: medium;
    }

    header nav ul.show {
        display: flex;
        /* Se muestra cuando se activa */
    }
    /* Seccion Inicio */
    #inicio {
        flex-direction: column;
        padding: 20px;
    }
    #inicio h2 {
        font-size: 2.5em;
        margin: 10px 0;
    }
    /* Seccion sobre  */
    #sobre-nosotros {
        flex-direction: column-reverse;
        padding: 20px;
    }


    .nosotros {
        width: 100%;
        padding: 20px;
    }
    #contenedorImagenNosotros {
        width: 100%;
        margin-top: 20px;
    }

    /* Seccion servicios */
    .servicios2 {
        flex-direction: column;
        align-items: center;
    }

    .tarjetas {
        width: 80%;
        flex-direction: column;
    }


    .tarjetas div {
        max-width: 100%;
    }


    /* Seccion avances */
    #contenedorSuperiorAvances {
        flex-direction: column;
    }
    .avances {
        width: 80%;
        min-width: 80%;
        margin: 20px 0;
    }
    .contendorImagenAvances {
        max-width: 100%;
        min-width: 100%;
        height: auto;
        min-height: auto;
    }
    /* Seccion contacto */
    .superContacto {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    .form-container h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .form-container {
        width: 80%;
        max-width: 100%;
        margin: 0;
    }
    .mapa {
        width: 80%;
        max-width: 100%;
        height: 300px;
    }


}

/* Para móviles y pantallas pequeñas */
@media (max-width: 480px) {

    /* Servicios */
    #servicios {
        padding: 20px 15px;
    }

    .tarjetas {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    /* avances */
    #avances {
        padding: 20px 15px;
    }
    .avances {
        width: 100%;
        min-width: 100%;
        margin: 10px 0;
        padding: 15px;
    }
    .contendorImagenAvances {
        max-width: 100%;
        min-width: 100%;
        height: auto;
        min-height: auto;
    }
    .contendorImagenAvances img {
        height: auto;
    }
    /* Contacto */
    #contacto {
        padding: 20px 15px;
    }

    
    
    .form-container {
        padding: 20px;
    }
    .form-container input,
    .form-container textarea {
        padding: 20px;
    }
    .form-container button {
        height: 50px;
        font-size: 14px;
    }
    .mapa {
        height: 250px;
    }
}